:root {
    --mattel-red: #000000;
    --bg: #ffffffa6;
}

body {
    background: var(--bg) !important;
}


.hero {
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}


.card {
    border-radius: 10px;
}


footer {
    background: var(--mattel-red);
}


.btn-danger {
    background: var(--mattel-red);
    border: none;
}

.btn-danger:hover {
    background: #c49a6c;;
}

.categorias-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-items: center;
}

.btn-categoria {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 150px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    border: 3px solid #9BC53D;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 12px rgba(255, 255, 255, 1);
}

.btn-categoria img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    z-index: 1;
    transition: transform 0.3s ease;
}

.btn-categoria span {
    position: relative;
    z-index: 2;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.btn-categoria:hover img {
    transform: scale(1.05);
}

.btn-categoria:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 1);
}